@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

.md-header-nav__topic {
    font-family: 'Oswald', cursive;
    font-weight: bold;
}

.md-nav__title--site {
    font-family: 'Oswald', cursive;
    font-weight: bold;
}