name: linux

on:
  push:
    branches:
      - master

  pull_request:

  schedule:
    - cron: "0 5 * * 1"  # runs at 05:00 UTC on Mondays

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      os: Linux-x86_64
    strategy:
      fail-fast: true
      max-parallel: 4

    steps:
    - uses: actions/checkout@v1
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
    - name: Install
      shell: bash -l {0}
      run: bash ci/actions/install.sh
    - name: Tests
      shell: bash -l {0}
      run: bash ci/actions/test.sh
